{% extends 'base.html.twig' %}

{% block body %}
<form method="post" action="{{ path('message_delete', {'id': message.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce message?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-outline-info">Delete</button>
</form>

{% endblock %}