{% extends 'base.html.twig' %}

{% block title %}Nouveau Message{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-sm-10">
            
            <h1>Nouveau Message</h1>
            
            {{ include('message/_form.html.twig') }}

        </div>
    </div>

{% endblock %}
