

{% block title %}Nouveau Message, Alapapa par Hugo Gaspard{% endblock %}

{% block body %}
    <section id="message">
        <div class="container">

            {% if app.user %}
            <p> Bienvenue {{ app.user.username | capitalize }} </p>
            {% endif %}
            
            <div class="col-sm-10">
                
                <h1>Nouveau Message</h1>
                
                {{ include('message/_form.html.twig') }}

            </div>
        </div>
    </section>

{% endblock %}

















